@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Colors */
:root {
  --color-default: #fafafa;
  --color-primary: #ddbd8a;
  --color-secondary: #161718;
}

/* Smooth scroll behavior */
:root {
  scroll-behavior: smooth;
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: 'Outfit', sans-serif;
  color: var(--color-default);
  background-color: #16181c;
}

a {
  color: var(--color-primary);
  text-decoration: none;
}

a:hover {
  color: #32cf93;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-primary);
}

/*--------------------------------------------------------------
# Sections & Section Header
--------------------------------------------------------------*/
.section-header {
  padding-bottom: 40px;
}

.resume-cta-btn{
  font-family: var(--font-primary);
    font-weight: 700;
    font-size: 15px;
    display: inline-block;
    padding: 6px 18px;
    border-radius: 8px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: 0.3s;
    color: #161718;
    background: var(--color-primary);
    margin-left: 30px;
    cursor: pointer;
}

.resume-cta-btn i{
    font-size: 18px !important;
}

.bi-arrow-down-square-fill{
  font-size: 20px;
  margin-left: 7px;
}

.section-header h2 {
  font-size: 14px;
  font-weight: 500;
  padding: 0;
  line-height: 1px;
  margin: 0 0 5px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.6);
  font-family: var(--font-primary);
}

.section-header h2::after {
  content: "";
  width: 120px;
  height: 1px;
  display: inline-block;
  background: #5bd9a9;
  margin: 4px 10px;
}

.section-header p {
  margin: 0;
  margin: 0;
  font-size: 36px;
  font-weight: 700;
  font-family: var(--font-secondary);
  color: #fafafa;
}

/*--------------------------------------------------------------
# Page Header
--------------------------------------------------------------*/
.page-header {
  padding: 120px 0 60px 0;
  min-height: 30vh;
  position: relative;
}

.page-header h2 {
  font-size: 56px;
  font-weight: 500;
  color: #fafafa;
  font-family: var(--font-secondary);
}

@media (max-width: 768px) {
  .page-header h2 {
    font-size: 36px;
  }
}

.page-header p {
  color: rgba(255, 255, 255, 0.8);
}

.page-header .cta-btn {
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: 14px;
  display: inline-block;
  padding: 12px 40px;
  border-radius: 4px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: 0.3s;
  color: #fafafa;
  background: var(--color-primary);
}

.page-header .cta-btn:hover {
  background: #2cbc85;
}

.responsive-social-menu{
  display: none;
}

@media (max-width: 1279px) and (min-width: 601px) {

.responsive-social-menu{
  display: flex;
}

.hide-responsive{
  display: none;
}

.header{
  padding: 10px 0px 10px !important;
}

}

/*--------------------------------------------------------------
# Scroll top button
--------------------------------------------------------------*/
.scroll-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: -15px;
  z-index: 99999;
  background: var(--color-primary);
  width: 44px;
  height: 44px;
  border-radius: 50px;
  transition: all 0.4s;
}

.scroll-top i {
  font-size: 24px;
  color: #161718;
  line-height: 0;
}

.scroll-top:hover {
  background: rgba(39, 167, 118, 0.8);
  color: #fafafa;
}

.scroll-top.active {
  visibility: visible;
  opacity: 1;
  bottom: 15px;
}

#scroll-down {
  margin-bottom: 1px;
 } 

.aliazgar-logo{
  width: 150px;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.header {
  transition: all 0.5s;
  z-index: 997;
  padding: 15px 100px 20px;
  background-color: #16181c;
}

.header .logo {
  transition: 0.3s;
}

.header .logo img {
  max-height: 70px;
  margin-right: 8px;
}

.header .logo h1 {
  font-size: 32px;
  margin: 0;
  font-weight: 400;
  color: #fafafa;
  font-family: var(--font-secondary);
}

.header .logo i {
  font-size: 32px;
  margin-right: 8px;
  line-height: 0;
}

@media (max-width: 575px) {
  .header .logo h1 {
    font-size: 26px;
  }

  .header .logo i {
    font-size: 24px;
  }
}

.header .header-social-links {
  padding-right: 15px;
}

.header .header-social-links a {
  color: rgba(255, 255, 255, 0.5);
  padding-left: 15px;
  display: inline-block;
  line-height: 0px;
  transition: 0.3s;
  font-size: 26px;
}

.header .header-social-links a:hover {
  color: #fafafa;
}

@media (max-width: 575px) {
  .header .header-social-links a {
    padding-left: 5px;
  }
}

/*--------------------------------------------------------------
# Desktop Navigation
--------------------------------------------------------------*/
@media (min-width: 1280px) {
  .navbar {
    padding: 0;
  }

  .navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }

  .navbar li {
    position: relative;
  }

  .navbar a,
  .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-family: var(--font-primary);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 13px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    white-space: nowrap;
    transition: 0.3s;
  }

  .navbar a i,
  .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
  }

  .navbar a:hover,
  .navbar .active,
  .navbar .active:focus,
  .navbar li:hover>a {
    color: #fafafa;
  }

}

@media (min-width: 1280px) and (max-width: 1366px) {

}

@media (min-width: 1280px) {

  .mobile-nav-show,
  .mobile-nav-hide {
    display: none;
  }
}

/*--------------------------------------------------------------
# Mobile Navigation
--------------------------------------------------------------*/
@media (max-width: 1279px) {
  .navbar {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    max-width: 400px;
    bottom: 0;
    transition: 0.3s;
    z-index: 9997;
  }

  .navbar ul {
    position: absolute;
    inset: 0;
    padding: 50px 0 10px 0;
    margin: 0;
    background: rgba(0, 0, 0, 0.9);
    overflow-y: auto;
    transition: 0.3s;
    z-index: 9998;
  }

  .navbar a,
  .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    font-family: var(--font-primary);
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    letter-spacing: 1px;
    white-space: nowrap;
    transition: 0.3s;
  }

  .navbar a i,
  .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
  }

  .navbar a:hover,
  .navbar .active,
  .navbar .active:focus,
  .navbar li:hover>a {
    color: #fafafa;
  }



  .mobile-nav-show {
    color: #fafafa;
    font-size: 28px;
    cursor: pointer;
    line-height: 0;
    transition: 0.5s;
    z-index: 9999;
    margin: 0 10px 0 10px;
  }

  .mobile-nav-hide {
    color: #fafafa;
    font-size: 32px;
    cursor: pointer;
    line-height: 0;
    transition: 0.5s;
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 9999;
  }

  .mobile-nav-active {
    overflow: hidden;
  }

  .mobile-nav-active .navbar {
    right: 0;
  }

  .mobile-nav-active .navbar:before {
    content: "";
    position: fixed;
    inset: 0;
    background: rgba(22, 23, 24, 0.8);
    z-index: 9996;
  }
}


/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.Hero-Image{
  opacity: 0.45;
  width: 45vh;
}


.hero-text {
  font-size: 60px;
  font-weight: 600;
}

@media (max-width: 1500px) and (min-width: 1280px) {
  .hero-text {
    font-size: 53px;
  }
  .Hero-Image{
   width: 60vh;
  }
  .text-scroll{
    bottom: -6px !important;
  }
  .gradient-text {
    font-size: 53px !important;
  }

  #text1, #text2 {
    font-size: 37pt !important;
  }

  .scroll-down{
    bottom: 60px !important;
  }

  .text-scroll p{
    font-size: 2.1em !important;
  }

  .an-approach{
    font-size: 38px !important;
  }
  .an-approach span{
    font-size: 55px !important;
  }
  .hs-items h1{
    font-size: 38px !important;
  }

  .tools h1{
    font-size: 38px !important;
  }
  .tools span{
    font-size: 55px !important;
  }
  .organizations h1{
    font-size: 38px !important;
  }
  .organizations span{
    font-size: 55px !important;
  }
  .testimonial-row h1{
    font-size: 38px !important;
  }
  .testimonial-row span{
    font-size: 55px !important;
  }
}

@media (max-width: 1279px) and (min-width: 601px) {

  .hero-text {
    font-size: 45px;
  }
  .Hero-Image{
   width: 50vh;
   margin-top: -30px;
  }

  .text-scroll{
    bottom: -6px !important;
  }
  .gradient-text {
    font-size: 45px !important;
  }

  #text1, #text2 {
    font-size: 28pt !important;
  }

  .scroll-down{
    bottom: 60px !important;
  }

  .text-scroll p{
    font-size: 1.5em !important;
  }

  .text-scroll{
    padding: 8px 0 0 !important;
  }
  .text-scroll .news-message{
    height: 45px !important;
  }

  .an-approach{
    font-size: 32px !important;
  }
  .an-approach span{
    font-size: 45px !important;
  }
  .hs-items h1{
    font-size: 32px !important;
  }
  .hs-items h1 span{
    font-size: 14px !important;
  }

  .tools h1{
    font-size: 32px !important;
  }
  .tools span{
    font-size: 45px !important;
  }
  .organizations h1{
    font-size: 32px !important;
  }
  .organizations span{
    font-size: 45px !important;
  }
  .testimonial-row h1{
    font-size: 32px !important;
  }
  .testimonial-row span{
    font-size: 45px !important;
  }
  .res-show{
    display: block !important;
  }
  .des-show{
    display: none !important;
  }
  .numbers-exp{
    font-size: 32px !important;
  }
  .numbers .col-md-4{
    width: 25%;
  }
  .card{
    width: 50% !important;
  }
}


@media (max-width: 600px) and (min-width: 300px){
  .aliazgar-logo{
    width: 50px !important;
  }

  .hero .col-lg-6{
    margin-top: 80px;
  }
  .responsive-social-menu{
    display: flex;
  }
  
  .hide-responsive{
    display: none;
  }

  .header{
    padding: 10px 5px;
  }
  .hero-text {
    font-size: 40px;
    text-align: center;
  }
  .Hero-Image{
   width: 50vh;
   margin-top: -60px !important;
  }

  .text-scroll{
    bottom: -6px !important;
  }
  .gradient-text {
    font-size: 40px !important;
  }

  #text1, #text2 {
    font-size: 25pt !important;
    text-align: center;
  }

  .scroll-down{
    display: none;
  }

  .text-scroll p{
    font-size: 1.5em !important;
  }

  .text-scroll{
    padding: 8px 0 0 !important;
  }
  .text-scroll .news-message{
    height: 45px !important;
  }

  .an-approach{
    font-size: 26px !important;
  }
  .an-approach span{
    font-size: 40px !important;
    line-height: 60px !important;
  }
  .hs-items h1{
    font-size: 22px !important;
    line-height: 30px;
    margin-left: 10px !important;
    padding: 20px !important;
  }
  .hs-items h1 span{
    font-size: 14px !important;
  }

  .tools{
    margin-top: -30px;
    margin-bottom: -100px;
  }
  .wrapper{
    margin-top: 30px !important;
  }
  .tools h1{
    font-size: 26px !important;
  }
  .tools span{
    font-size: 40px !important;
    margin-bottom: 100px !important;
  }
  .organizations h1{
    font-size: 26px !important;
    margin-top: 120px !important;
  }
  .organizations span{
    font-size: 40px !important;
  }
  .testimonial-row h1{
    font-size: 26px !important;
    margin-top: 60px !important;
    margin-bottom: -30px !important;
  }
  
  .testimonial-row span{
    font-size: 40px !important;
    line-height: 55px !important;
    padding: 5px;
  }

  .res-show{
    display: block !important;
  }
  .des-show{
    display: none !important;
  }

  .numbers .col-md-4{
    margin-bottom: 20px !important;
  }
}





.gradient-text {
  background-image: -webkit-gradient(linear, left top, right top, from(#dec880), color-stop(27%, #fafafa), color-stop(57%, #ff3980), to(#827ded));
  background-image: linear-gradient(90deg, #dec880, #fafafa 27%, #ff3980 57%, #827ded);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 60px;
}




#container {
	/* position: absolute; */
	margin: auto;
  font-weight: 600;
	height: 50pt;
	filter: url(#threshold) blur(0.2px);
}


#text1, #text2 {
  margin-top: 20px;
	position: absolute;
  font-weight: 400;
	width: 100%;
	display: inline-block;
	font-size: 40pt;
	user-select: none;
}


.scroll-down{
  position: sticky;
  bottom: 80px;
  margin: auto;
}


.text-scroll{
  background-color: #ddbd8a;
  color: #161718;
  font-weight: 600;
  text-transform: uppercase;
  overflow-x: hidden;
  padding: 1rem 0 0;
  margin: 40px 0px 0px;
  position: absolute;
  bottom: 0;
  display: grid;
}

.text-scroll div {
  display:flex;
  flex-wrap: nowrap;
  white-space: nowrap;
  min-width: 100%;
}
.text-scroll .news-message{
  display : flex;
  flex-shrink: 0;
  height: 50px;
  align-items: center;
  animation: slide-left 40s linear infinite;
}

.text-scroll p{
  font-size: 2.5em;

}
.text-scroll p .bi-stars{
  padding-left: 0.6em;
  padding-right: 0.6em;
}

@keyframes slide-left {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

/*--------------------------------------------------------------
# Scroll-1 Section Start
--------------------------------------------------------------*/
.an-approach{
  margin-top: 50px;
  margin-bottom: -50px;
  font-size: 40px;
  font-weight: 400;
  text-align: center;
}

.an-approach span {
  background-image: -webkit-gradient(linear, left top, right top, from(#dec880), color-stop(27%, #fafafa), color-stop(57%, #ff3980), to(#827ded));
  background-image: linear-gradient(90deg, #dec880, #fafafa 27%, #ff3980 57%, #827ded);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 60px;
  font-weight: 700;
  line-height: 80px;
}

.hs-section {
  position: relative;
  width: 100%;
  min-height: 100vh;
}

.hs-wrapper {
  position: relative;
  width: 100%;
  /* padding: 0 100px; */
}

.hs-sticky {
  position: sticky;
  top: 0;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;  
}

.hs-horizontal {
  position: absolute;
  height: 100%;
  will-change: transform;
  top: 0;
  left: 0;
  transition: .05s;
  width: 100%;
}

.hs-items {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

.hs-item {
  position: relative;
  flex-shrink: 0;
  border-radius: 20px;
}

.hs-items h1{
font-weight: 500;
font-size: 42px;
padding: 50px;
border-style: solid;  
border-width: 0.5px;
border-image: linear-gradient(to left, #161718 1%, #ddbd8a 50%, #161718 100%) 
              100% 0 100% 0/0.5px 0 0.5px 0 stretch;
background-color: rgb(23, 28, 30);
margin-left: 50px;
text-transform: uppercase;
}

.hs-items h1 span{
  font-weight: 400;
  font-size: 16px;
  }
  
.interactions img{
  border-radius: 35px;
  height: 60vh;
  -webkit-box-shadow: -1px 0px 20px 13px rgb(0 0 0 / 40%);
  -moz-box-shadow: -1px 0px 20px 13px rgb(0 0 0 / 40%);
  box-shadow: -1px 0px 20px 13px rgb(0 0 0 / 40%);
  margin-left: 40px;
}



.creative1 {
  background-image: url(../../assets/img/Creative1.svg);
  height: 60vh;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 0px 40px;
}

.creative2 {
  background-image: url(../../assets/img/Creative2.svg);
  height: 60vh;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 0px 40px 0px 0px;
}

/*--------------------------------------------------------------
# Scroll-1 Section End
--------------------------------------------------------------*/

.numbers{
  backdrop-filter: blur(13px);
  background-color: rgb(23 28 30);
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px;
  border: 1px #ddbd8a4a solid;
  border-image:linear-gradient(rgb(221, 189, 138), rgba(0, 0, 0, 0)) 1 5% / 1 / 0 stretch;
  text-align: center;
  padding: 30px 10px;
  margin-top: -50px;
}

.numbers-exp{
  font-size: 40px;
  margin-bottom: 15px;
}

.abstract img{
  width: 100%;
  opacity: 0.7;
}

.res-show{
  display: none;
}
.des-show{
  display: block;
}


.organizations h1{
  margin-top: 80px;
  font-size: 40px;
  font-weight: 400;
  text-align: center;
}

.organizations span {
  background-image: -webkit-gradient(linear, left top, right top, from(#dec880), color-stop(27%, #fafafa), color-stop(57%, #ff3980), to(#827ded));
  background-image: linear-gradient(90deg, #dec880, #fafafa 27%, #ff3980 57%, #827ded);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 60px;
  font-weight: 700;
  line-height: 80px;
}

.organizations p {
  font-size: 20px;
  text-align: center;
  font-weight: 400;
}




.card-grid {
  display: flex;
  padding: 4rem 8rem 0 8rem;
}
.card-grid-show{
  display: none;
}

.card-grid::-webkit-scrollbar-thumb {
  background-color: #383838;
  border-radius: 10px;
  box-shadow: inset 2px 2px 2px rgba(0,0,0,0.5);
}

.card-grid::-webkit-scrollbar-track {
  background-color: inherit;
}

.card {
  height: 350px;
  width: 400px;
  min-width: 250px;
  padding: 30px 60px 30px 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(27 30 31);
  border-radius: 1rem;
  box-shadow: -1rem 0 2rem #00000085;
  transition: transform 300ms ease-in-out;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  color: #ddbd8a; 
}

.card .image {
  width: 220px;
}
.card .image1 {
  width: 100px;
}

.card:hover {
  transform: translateY(-0.5rem) rotate(10deg);
  filter: none;
  -webkit-filter: grayscale(0);
  background-color: rgb(23 28 30);
}


.card:hover~.card {
  transform: translateX(100px);
}

.card:not(:first-child){
  margin-left: -70px;
}


.card h2{
  font-size: 17px;
  font-weight: 500;
  transition: color 150ms ease-in;
}

.card h3{
  font-size: 16px;
  margin-top: 15px;
  font-weight: 400;
  transition: color 150ms ease-in;
}

@media (max-width: 1279px) and (min-width: 601px) {

  .card-grid-show{
    display: block;
    margin-top: 40px;
  }
  
  .card-grid {
    display: none;
  }

  .justify-content-space-evenly{
    justify-content: space-evenly;
  }

  .card:not(:first-child){
    margin-left: 0px;
  }
  .card {
    margin-bottom: 20px;
  }
  .card:hover {
    transform: none;
    filter: none;
    -webkit-filter: none;
    background-color: none;
  }
  
  .card:hover~.card {
    transform: none;
  }

  .creative1 {
    background-image: url(../../assets/img/Res-Creative1.svg);
    height: 60%;
    width: 60%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin: 0px 40px;
  }
  .creative2 {
    background-image: url(../../assets/img/Res-Creative2.svg);
    height: 60%;
    width: 60%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin: 0px 0px;
  }
}

@media (max-width: 600px) and (min-width: 300px) {

  .card-grid-show{
    display: block;
    margin-top: 20px;
    padding: 0px;
  }
  
  .card-grid {
    display: none;
  }

  .justify-content-space-evenly{
    justify-content: space-around;
    padding: 0px;
    margin: 0px;
  }

  .card:not(:first-child){
    margin-left: 0px;
  }
  .card {
    margin-bottom: 20px;
  }
  .card:hover {
    transform: none;
    filter: none;
    -webkit-filter: none;
    background-color: none;
  }
  
  .card:hover~.card {
    transform: none;
  }

  .card{
    height: 220px;
    min-width: 300px;
    width: auto;
    padding: 15px;
  }
  .card .image{
    width: 160px;
  }
  
  .card h2{
    font-size: 15px;
    line-height: 20px;
  }
  .card h3{
    font-size: 15px;
    margin-top: -3px;
  }

  .organizations p {
    font-size: 16px;
    text-align: center;
    font-weight: 400;
    padding: 10px;
    margin-top: -15px;
  }

  .creative1 {
    background-image: url(../../assets/img/Res-Creative1.svg);
    height: 70%;
    width: 70%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin: 0px 40px;
  }
  .creative2 {
    background-image: url(../../assets/img/Res-Creative2.svg);
    height: 70%;
    width: 70%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin: 0px 0px;
  }
}


.tools h1{
  margin-top: 80px;
  font-size: 40px;
  font-weight: 400;
  text-align: center;
}

.tools span {
  background-image: -webkit-gradient(linear, left top, right top, from(#dec880), color-stop(27%, #fafafa), color-stop(57%, #ff3980), to(#827ded));
  background-image: linear-gradient(90deg, #dec880, #fafafa 27%, #ff3980 57%, #827ded);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 60px;
  font-weight: 700;
  line-height: 80px;
}


.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  margin-top: 50px;
}
.wrapper__row {
  position: relative;
  display: flex;
  height: 150px;
  margin-bottom: 30px;
  overflow: hidden;
}
.wrapper__rowItem {
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 20px;
  padding-right: 20px;
}
.wrapper__row--second .wrapper__rowItem {
  top: 0;
  left: auto;
  right: 0;
}

.wrapper .scrollcard {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 250px;
  border-radius: 10px;
  border-style: solid;  
  border-width: 0.5px;
  border-image: linear-gradient(to left, #161718 1%, #ddbd8a 50%, #161718 100%) 
                100% 0 100% 0/0.5px 0 0.5px 0 stretch;
  background-color: rgb(23, 28, 30);
}

.wrapper .card__text {
  font-size: 24px;
  font-weight: 500;
  color: #fafafa !important;
}

.scrollcard img{
  width: 50px;
  height: 50px;
  margin-right: 18px;
}



/*--------------------------------------------------------------
# Testimonials Section
--------------------------------------------------------------*/
.row{
  --bs-gutter-x: 0 !important;
}

.testimonial-row h1{
  margin-top: 120px;
  margin-bottom: -20px;
  font-size: 40px;
  font-weight: 400;
  text-align: center;
}

.testimonial-row span{
background-image: -webkit-gradient(linear, left top, right top, from(#dec880), color-stop(27%, #fafafa), color-stop(57%, #ff3980), to(#827ded));
background-image: linear-gradient(90deg, #dec880, #fafafa 27%, #ff3980 57%, #827ded);
-webkit-background-clip: text;
background-clip: text;
-webkit-text-fill-color: transparent;
font-size: 60px;
font-weight: 700;
line-height: 80px;
}

.testimonial {
  perspective-origin: 50% 50%;
  perspective: 100em;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  counter-reset: bubble 0;
  overflow: hidden;
  margin: 0;
  min-height: 480px;
  flex-grow: 1;
  transform: translateX(0) translateY(0) !important;
  // cursor: auto !important;
}
.testimonial .testimonials {
  position: absolute;
  left: 50%;
  display: flex;
  align-items: center;
  height: 100%;
  transform: translateZ(calc(var(--distance) * -1));
  // transition: transform ease-in-out 1s;
  transform-style: preserve-3d;
}

.testimonial .navigation {
  position: absolute;
  bottom: 1em;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 3px;
  cursor: pointer;
}
.testimonial .navigation .nav-dot {
  padding: 5px;
  background: rgb(23, 28, 30);
  border: 1px solid rgb(61, 63, 67);
  border-radius: 50%;
}
.testimonial .navigation .focused {
  background: #fafafa;
}

.chat-bubble {
  padding: 2em;
  width: min(400px, calc(100vw - 40px));
  box-sizing: border-box;
  background-color: rgb(23 28 30);
  border-radius: 1rem;
  position: absolute;
  transform: translateX(-50%) rotateY(var(--rotation))
    translateZ(var(--distance));
  transition: filter 1s ease;
  backface-visibility: hidden;
  /* pointer-events: none; */
  filter: blur(3px);


  border-radius: 10px;
  border-style: solid;  
  border-width: 0.5px;
  border-image: linear-gradient(to left, #161718 1%, #ddbd8a 50%, #161718 100%) 
                100% 0 100% 0/0.5px 0 0.5px 0 stretch;
}
.chat-bubble.focused {
  filter: blur(0px);
  pointer-events: auto;
}
.chat-bubble i {
  font-size: 30px;
  color: #aaa;
  margin-bottom: 0.5em;
}
.chat-bubble .person {
  display: grid;
  grid-template: auto auto/auto 1fr;
  grid-column-gap: 0.4em;
  margin-top: 1em;
}
.chat-bubble .person .img {
  grid-row: 1/-1;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  object-fit: cover;
  margin-right: 12px;
}
.chat-bubble .person .name {
  font-weight: bold;
  align-self: end;
}
.chat-bubble .person .role {
  align-self: start;
}
.chat-bubble .content {
  white-space: pre-wrap;
  position: relative;
  max-height: 175px;
  padding: 5px 0;
  overflow-y: auto;
}
.chat-bubble .content:w .truncated::after {
  content: "";
  position: absolute;
  height: 3em;
  width: 3em;
  background-image: black;
  top: 0;
  left: 0;
}


/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero {
  width: 100%;
  min-height: 100vh;
  background: #16181c;
  background-size: cover;
  position: relative;
}

.hero h2 {
  margin: 0 0 10px 0;
  font-size: 38px;
  font-weight: 700;
  color: #fafafa;
  font-family: var(--font-secondary);
}

.hero h2 span {
  position: relative;
  z-index: 1;
  padding: 0 5px;
  display: inline-block;
}

.hero h2 span:before {
  content: "";
  position: absolute;
  height: 50%;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--color-primary);
  z-index: -1;
}

.hero p {
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 30px;
  font-size: 18px;
}

.hero .btn-get-started {
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: 14px;
  display: inline-block;
  padding: 12px 40px;
  border-radius: 4px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: 0.3s;
  color: #fafafa;
  background: var(--color-primary);
}

.hero .btn-get-started:hover {
  background: #2cbc85;
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
  margin-top: 60px;
  padding: 30px 0;
  font-size: 14px;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
}

.footer .copyright {
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
}

.footer .credits {
  padding-top: 6px;
  text-align: center;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.8);
}

.footer .credits a {
  color: var(--color-primary);
}
