body {
  font-family: 'Outfit', sans-serif;
  color: var(--color-default);
  background-color: #16181c;
}

.wrap {
  text-align: center;
  margin-top: 40vh;
}

input {
  background-color: #161718;
  border: 1px solid #2e2e31;
  border-radius: 8px;
  width: 328px;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  color: white;
  font-size: 16px;
}

button {
  background: #ddbd8a;
  font-size: 16px;
  font-weight: 600;
  color: #161718;
  padding: 10px 20px;
  min-width: 100px;
  border-radius: 8px;
  margin-left: 10px;
  outline: none;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 20px;
}

.email {
  color: #ddbd8a;
  opacity: 0.8;
}

.id {
  font-size: 18px;
  color: #ddbd8a;
  text-decoration: none;
}

.id:hover {
  color: #cea564;
}
